


.*
/*
!/.gitignore



!/enrobie

!/.github
!/.yamllint
!/.readthedocs.yaml
!/docs/
/docs/*
!/docs/conf.py
!/docs/index.rst
!/LICENSE
!/Makefile
!/makefile.py
!/MANIFEST.in
!/pyproject.toml
!/README.md
!/reqs-develop.txt
!/reqs-install.txt
!/reqs-package.txt
!/setup.cfg



__pycache__
*.pyc
