


.*
/*
!/.gitignore



!/enrobie

!/.github
!/.yamllint
!/sphinx/
/sphinx/*
!/sphinx/conf.py
!/sphinx/index.rst
!/LICENSE
!/Makefile
!/makebadge.py
!/makefile.py
!/MANIFEST.in
!/pyproject.toml
!/README.md
!/require
/require/*
!/require/develop.txt
!/require/install.txt
!/require/package.txt
!/setup.cfg



__pycache__
*.pyc
