---



extends: default



rules:

  comments:
    require-starting-space: false

  empty-lines:
    max: 3

  truthy:
    allowed-values:
      - 'true'
      - 'false'

  line-length:
    max: 90

  new-line-at-end-of-file: enable

  trailing-spaces: enable
