---



extends: default



rules:

  comments:
    require-starting-space: false
    min-spaces-from-content: 1

  comments-indentation: false

  empty-lines:
    max: 3

  truthy:
    allowed-values:
      - 'true'
      - 'false'

  line-length:
    max: 90

  new-line-at-end-of-file: enable

  trailing-spaces: enable

  braces:
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
