/*
Functions and routines associated with Enasis Network Chatting Robie.

This file is part of Enasis Network software eco-system. Distribution
is permitted, for more information consult the project license file.
*/



body { font-size: 14px; }

.bd-page-width {
    max-width: 90%; }

.bd-main .bd-content
 .bd-article-container {
    max-width: 80rem; }
